<!--Association page-->
<ion-view>
  <!--Title-->
  <ion-nav-title>
    <div>
      <!--logo-->
   <span><img style="position:absolute; left:0px; bottom:-28px; padding:0px;" src="img/paw.png" width="100" alt="App logo"/></span>
    <!--Association text-->
   <span style="padding-left: 20px">Association</span>
    </div>
   </ion-nav-title>
  </div>
  <!--Association Profile-->
  <ion-content>
    <!--Ionic card template-->
  <div class="list card">
  <div >
    <!--Association image-->
    <img style=" padding-left: 140px;" src="http://assorum.heroku.com/images/event/presencias_navidad_edition_large.jpeg">
    <!--Event title-->
    <h3 class = "event-title">Orquesta de Cuerda UPRM<br></h3>

  </div>
  <!--Association information-->
  <div class="item item-text-wrap item-icon-left">
    <!--Email and email icon-->
   <i class="icon ion-email"></i>
   <strong>Contact us:</strong> orquesta.cuerda.uprm@hotmail.com
  </div>
  <!--Association description-->
  <div class="item item-text-wrap item-icon-left">
   <i class="icon ion-clipboard"></i>
   <strong>Description:</strong>
   <p>
     Welcome to Orquesta de Cuerda UPRM home page.
     Stay tuned for new events coming up every month.
   </p>
  </div>
  <!--Back button-->
  <a class="button icon-left ion-chevron-left button-clear button-dark" href= '#/tab/home'>Back</a>

</div>
</ion-content>


</ion-view>
