<ion-view view-title = "Billing Info">
   <!--Ionic card template-->
  <ion-content class = "custom"  has-header="true" padding="true">
<div class="list card">
  <div class="item item-text-wrap item-icon-left">
       <i class="icon ion-happy"></i>
       <strong>Card Name:</strong>

  </div>
      <!--Get and show user first name-->
      <div class="item item-text-wrap item-icon-left">
       <i class="icon ion-person"></i>
       <strong>Card Number:</strong>
 </div>
</div>
</ion-content>
</ion-view>
