<!--Event page-->
<ion-view view-title="Event">
  <!--Title-->
  <!--ion-nav-title>
    <div>
    <button ng-click ='goBackHome()' style="padding-left:0px; padding-top:0px;float: left;" class="button button-clear button-dark button-small">
    <i class="icon ion-ios-arrow-back"></i>
  </button>
   <span><img style="position:absolute; left:70px; bottom:-28px" src="img/paw.png" width="100" alt="App logo"/></span>
   <span style="padding-right: 20px">Event</span>
    </div>
  </ion-nav-title>
</div-->
  <ion-content class="custom"  has-header="true" padding="true">
    <div class="list card">
      <div>
        <img style=" padding-left: 140px;" ng-src="http://assorum.heroku.com/images/event/{{event.eimage}}_large.jpeg">
        <h3 class="event-title"> {{event.event_name}}<br></h3>
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-calendar"></i>
        <strong>Date:</strong> {{event.eventdata | date:'MM/dd/yyyy'}}
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-location"></i>
        <strong>Location: </strong>{{event.locname}}
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-person-stalker"></i>
        <strong>Association:</strong> <a href='#/association'>{{event.asso_name}}</a>
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-person-pricetags"></i>
        <strong>tags:</strong></a>
      </div>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-clipboard"></i>
        <strong>Description:</strong>
        <p>
          {{event.event_desc}}
        </p>
      </div>
    </div>

    </div>
  </ion-content>

  <!--<div class="list card">
  <div >
    <img style=" padding-left: 140px;" ng-src="http://assorum.heroku.com/images/event/{{event.eimage}}_large.jpeg">
    <h3 class = "event-title"> {{event.event_name}}<br></h3>
  </div>
  <div class="item item-text-wrap item-icon-left">
   <i class="icon ion-calendar"></i>
   <strong>Date:</strong> {{event.date}}
 </div>
 <div class="item item-text-wrap item-icon-left">
  <i class="icon ion-location"></i>
  <strong>Location: </strong>{{event.locname}}
</div>
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-person-stalker"></i>
 <strong>Association:</strong> <a href='#/association'>{{event.asso_name}}</a>
</div>
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-person-pricetags"></i>
 <strong>tags:</strong></a>
</div>
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-clipboard"></i>
 <strong>Description:</strong>
 <p>
   {{event.event_desc}}
 </p>
</div>
  </div>

</div>-->
  <!--/ion-content-->
</ion-view>
