<!--Event page-->
<ion-view>
  <!--Title-->
  <ion-nav-title>
    <div>
    <!--Back button-->
    <button ng-click ='goBackHome()' style="padding-left:0px; padding-top:0px;float: left;" class="button button-clear button-dark button-small">
    <i class="icon ion-ios-arrow-back"></i>
  </button>
  <!--App logo-->
   <span><img style="position:absolute; left:70px; bottom:-28px" src="img/paw.png" width="100" alt="App logo"/></span>
   <!--Event text-->
   <span style="padding-right: 20px">Event</span>
    </div>
   </ion-nav-title>
  </div>

  <ion-content>
    <!--Ionic card template-->
  <div class="list card">
  <div >
    <!--Event image-->
    <img style=" padding-left: 140px;" src="http://assorum.heroku.com/images/event/presencias_navidad_edition_large.jpeg">
    <!--Event name-->
    <h3 class = "event-title">Presencias Navidad Edition<br></h3>

  </div>
  <!--Date text and icon-->
  <div class="item item-text-wrap item-icon-left">
   <i class="icon ion-calendar"></i>
   <strong>Date:</strong> 10/december/2016
 </div>
 <!--Association name and icon-->
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-person-stalker"></i>
 <strong>Association:</strong> <a href='#/association'>Orquesta de Cuerda UPRM</a>
</div>
<!--Association description and icon-->
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-clipboard"></i>
 <strong>Description:</strong>
 <p>
   Come and join our christmas spirit. Truly a night to remember,
    with special guest surprises and a lot of Puerto Rican typical
    Christmas songs.
 </p>
</div>
  </div>

</div>
</ion-content>


</ion-view>
