<ion-view title = "Sign Up">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
  </ion-nav-back-button>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()" ng-hide = "true">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-gear-a" ng-click="showRightMenu()"ng-hide = "true">
    </button>
  </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content ng-controller="signupCtrl" padding="true" class = "custom">
   <!-- <ion-headear>
        <h2 style = "color : #21BD14; text-align : center; ">ASSORUM</h2>
      </ion-headear> -->
      <div>
      <!--Input first name-->
      <label class="item item-input">
        <input ng-model="signup.firstName" type = "text" placeholder = "First Name">
      </label>
      <!--Input last name-->
      <label class="item item-input">
        <input ng-model="signup.lastName" type = "text" placeholder = "Last Name">
      </label>
      <!--Input username-->
      <label class="item item-input">
        <input ng-model="signup.username" type = "text" placeholder = "Username">
      </label>
      <!--Input email-->
      <label class="item item-input">
        <input ng-model="signup.email" type = "email" placeholder = "Email">
      </label>
      <!--Input password-->
       <label class="item item-input">
        <input ng-model="signup.password" type = "password" placeholder = "Password">
      </label>
      <!--Confirm password-->
      <label class="item item-input">
        <input ng-model="signup.confirm" type = "password" placeholder = "Confirm Password">
      </label>
      <!--Select rank-->
        <!--Rank options-->
        <label for="repeatSelect" class="item item-input item-select"> <strong>Rank:</strong>
    <select name="repeatSelect" id="repeatSelect" ng-model="signup.rank">
      <option ng-repeat="Rank in Ranks" value="{{Rank.rankid}}">{{Rank.rdescription}}</option>
    </select>
        <!--select>
          <option ng-repeat="Rank in Ranks" value="{{Rank}}" ng-model = "signup.rank">{{Rank.rdescription}}</option>
        </select-->
        </label>
      <!--Create account button-->
        <button ng-click="saveSignup()" class="button icon-left ion-log-in button-balanced button-block">Create Account</button>

      </div>
  </ion-content>
</ion-view>
