<ion-view view-title = "Favorites">

    <ion-content class = "custom"  has-header="true" padding="true">
        <ion-list>
          <!--Get and show favorites list-->
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in favorites" type="item-text-wrap" href= "#/event">
                 <img ng-src="http://assorum.heroku.com/images/event{{event.eimage}}_small.jpeg">
                    <!--Show favorite event name-->
                    <h2>{{ event.event_name }}</h2>
                    <!--Show favorite event description-->
                     <p>{{ event.event_desc }}</p>
                 <i class="icon ion-chevron-right icon-accessory"></i>
        <!--Remove from favorites button-->
        <ion-option-button class="button-assertive" ng-click="deleteEvent(event)">
          Remove
        </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
