<ion-view>
  <!--Title-->
  <ion-nav-title>
    <div>
      <!--Logo and Profile text-->
   <span><img style="position:absolute; left:70px; bottom:-28px" src="img/paw.png" width="100" alt="App logo"/></span>
       Profile
</div>
   </ion-nav-title>
   <!--Ionic card template-->
  <ion-content>
<div class="list card">
  <div class="user">
    <!--get image-->
    <div class="user" style="background-image:url('{{user.image}}')"></div>
  </div>
  <!--div class="item item-avatar">
    <img src="{{user.img}}"/>
  </div-->
  <div>
    <p>
      <div class="item item-text-wrap item-icon-left">
       <i class="icon ion-happy"></i>
       <strong>Username:</strong>{{user.username}}
 </div>
      <!--Get and show user first name-->
      <div class="item item-text-wrap item-icon-left">
       <i class="icon ion-person"></i>
       <strong>First name:</strong> {{user.firstName}}
 </div>
 <!--Get and show user's last name-->
 <div class="item item-text-wrap item-icon-left">
   <i class="icon ion-person"></i>
   <strong>Last name:</strong> {{user.lastName}}
</div>

<div class="item item-text-wrap item-icon-left">
  <i class="icon ion-ios-paper"></i>
<strong>Admin of:</strong><!--show if admin the association-->
</div>

<!--Get and show user's email-->
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-email"></i>
 <strong>Email:</strong> {{user.email}}
</div>
<!--Get and show user's rank-->
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-ios-star"></i>
 <strong>Rank:</strong> {{user.rdescription}}
</div>
    </p>
  </div>
</div>

<!--logout button-->
<button class="button icon-left ion-log-out button-dark button-block" ng-click="logout()">Log Out</button>

</ion-content>
</ion-view>
