<ion-view view-title = "Profile">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
      Back
  </ion-nav-back-button>

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="showMenu()" ng-hide = "true">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-gear-a" ng-click="showRightMenu()"ng-hide = "true">
    </button>
  </ion-nav-buttons>
  </ion-nav-bar>
   <!--Ionic card template-->
  <ion-content class = "custom"  has-header="true" padding="true">
<div class="list card">
  <div class="user">
    <!--get image-->
    <div class="user" style="background-image:url('https://assorum2.herokuapp.com/images/clients'+{{user.img}}+'.jpeg')"></div>
  </div>
  <!--div class="item item-avatar">
    <img src="{{user.img}}"/>
  </div-->
  <div>
    <p>
      <div class="item item-text-wrap item-icon-left">
       <i class="icon ion-happy"></i>
       <strong>Username: </strong>{{user.username}}

       </div>
 </div>
      <!--Get and show user first name-->
      <div class="item item-text-wrap item-icon-left">
       <i class="icon ion-person"></i>
       <strong>First name:</strong> {{user.firstname}}
 </div>
 <!--Get and show user's last name-->
 <div class="item item-text-wrap item-icon-left">
   <i class="icon ion-person"></i>
   <strong>Last name:</strong> {{user.lastname}}
</div>

<div class="item item-text-wrap item-icon-left">
  <i class="icon ion-ios-paper"></i>
<strong>Admin of:</strong><!--show if admin the association-->
</div>

<!--Get and show user's email-->
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-email"></i>
 <strong>Email:</strong> {{user.email}}
</div>
<!--Get and show user's rank-->
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-ios-star"></i>
 <strong>Rank:</strong> {{user.rank}}
</div>
    </p>
  </div>
</div>

<!--logout button-->
<button class="button icon-left ion-log-out button-balanced button-block" ng-click="logout()">Log Out</button>

</ion-content>
</ion-view>
