<ion-view >

  <ion-nav-title>
    <div>
   <span><img style="position:absolute; left:70px; bottom:-28px" src="img/paw.png" width="100" alt="App logo"/></span>
   Event
    </div>
   </ion-nav-title>
  </div>

  <ion-content>
  <div class="list card">

  <div >
    <img style=" padding-left: 140px;" src="http://assorum.heroku.com/images/event/presencias_navidad_edition_large.jpeg">
    <h3 class = "event-title">Presencias Navidad Edition<br></h3>

  </div>
  <div class="item item-text-wrap item-icon-left">
   <i class="icon ion-calendar"></i>
   Date: 10/dicember/2016
 </div>
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-person-stalker"></i>
 Association: Orquesta de Cuerda UPRM
</div>
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-clipboard"></i>
 Description:
 <p>
   This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
   the content is from a card-body consisting of an image and paragraph text. The footer
   consists of tabs, icons aligned left, within the card-footer.
 </p>
</div>
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-card"></i>
</div>
<div class="item item-text-wrap item-icon-left">
 <i class="icon ion-ios-arrow-back"></i>
</div>

  </div>

</div>
</ion-content>


</ion-view>
