<ion-view >
  <ion-nav-title>
    <div>
   <span><img style="position:absolute; left:70px; bottom:-28px" src="img/paw.png" width="100" alt="App logo"/></span>
       Home
</div>
   </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="event in events" type="item-text-wrap" href = "#/event" >
        <img ng-src="{{event.img[0]}}">
        <h2>{{event.name}}</h2>
        <p>{{event.desc}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-positive" ng-click="addToFavorites(event)">
          Favorite
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
