<ion-view>

  <ion-nav-title>
    <div>
   <span><img style="position:absolute; left:70px; bottom:-28px" src="img/paw.png" width="100" alt="App logo"/></span>
       Profile
</div>
   </ion-nav-title>
  <ion-content>

<div class="list card">
  <div class="user">
    <div class="user" style="background-image:url('{{user.img}}')"></div>
  </div>
  <!--div class="item item-avatar">
    <img src="{{user.img}}"/>
  </div-->
  <div>
    <p>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-person"></i>
        first name: {{user.ufirst}}
  </div>
  <div class="item item-text-wrap item-icon-left">
    <i class="icon ion-person"></i>
    last name: {{user.ulast}}
</div>
<div class="item item-text-wrap item-icon-left">
  <i class="icon ion-email"></i>
  email: {{user.email}}
</div>
<div class="item item-text-wrap item-icon-left">
  <i class="icon ion-ios-star"></i>
  rank: {{user.urank}}
</div>


      <!--a href="#" class="item item-icon-left">
         <i class="icon ion-person"></i>
         first name: {{user.ufirst}}
       </a>

       <a href="#" class="item item-icon-left">
         <i class="icon ion-person"></i>
         last name: {{user.ulast}}
       </a>

       <a href="#" class="item item-icon-left">
         <i class="icon ion-email"></i>
         email: {{user.email}}
       </a>

       <a href="#" class="item item-icon-left">
         <i class="icon ion-ios-star"></i>
         rank: {{user.urank}}
       </a-->
    </p>
  </div>
</div>
</ion-content>
</ion-view>
